Ejemplo DATAFRAME con Jupyter

In [8]:
import pandas as pd

Creamos un diccionario de países

In [11]:
data_pais={
    "pais":["Brasil", "Mexico", "Espana", "Peru","Colombia", "Venezuela"]
    , "capital":["Brasilia", "Ciudad de Mexico", "Madrid", "Lima", "Bogota", "Caracas"]
    , "superficie":[8.5,1.9,0.6,0.4,1.6,0.9]
}

Creamos un DATAFRAME a partir del diccionario

In [12]:
df=pd.DataFrame(data_pais)
df

        pais           capital  superficie
0     Brasil          Brasilia         8.5
1     Mexico  Ciudad de Mexico         1.9
2     Espana            Madrid         0.6
3       Peru              Lima         0.4
4   Colombia            Bogota         1.6
5  Venezuela           Caracas         0.9

POdemos seleccionar solo una columna del DATAFRAME

In [13]:
df[["capital"]]

            capital
0          Brasilia
1  Ciudad de Mexico
2            Madrid
3              Lima
4            Bogota
5           Caracas

Podemos seleccionar mas de una columna

In [14]:
df[["capital","superficie"]]

            capital  superficie
0          Brasilia         8.5
1  Ciudad de Mexico         1.9
2            Madrid         0.6
3              Lima         0.4
4            Bogota         1.6
5           Caracas         0.9

Además de las columnas podemos selccionar filas por su posición de indice. Inluye el 1er índice inclusive pero no el último

In [15]:
df[2:5]

       pais capital  superficie
2    Espana  Madrid         0.6
3      Peru    Lima         0.4
4  Colombia  Bogota         1.6

Actualmente tenemos la columna ppal de un index general (0,1,2,3...). Tenemos la posibilidad de crear una columna como índice y no importa si es texto

In [16]:
df.index = ["BR", "MX", "ES", "PE", "CO", "VE"]
df

         pais           capital  superficie
BR     Brasil          Brasilia         8.5
MX     Mexico  Ciudad de Mexico         1.9
ES     Espana            Madrid         0.6
PE       Peru              Lima         0.4
CO   Colombia            Bogota         1.6
VE  Venezuela           Caracas         0.9

Para la selccion de filas hemos visto que se puede hacer con Index. También se puede hacer con iloc: selcciona las filas y columnas que deseamos.
Sintaxis: df.iloc[[f1,f2],[c1,c2]]

In [17]:
df.iloc[[2,4],[1,2]]

   capital  superficie
ES  Madrid         0.6
CO  Bogota         1.6

Podemos realizar lo mismo con Loc, que nos prmite hacerlo por nombre de columna.
Sntáxis: df.loc[:,["colum1","colum2"]] (los: significa que todas las filas)

In [18]:
df.loc[:,["capital","superficie"]]

             capital  superficie
BR          Brasilia         8.5
MX  Ciudad de Mexico         1.9
ES            Madrid         0.6
PE              Lima         0.4
CO            Bogota         1.6
VE           Caracas         0.9