Además de pandas tambien vamos a importar una libreria para poner valores nulos dentro de nuestro DATAFRAME

In [1]:
import pandas as pd
import numpy as np

In [2]:
datos_alumno ={
    "nombre":["Julian", "Marcos", "Diana", "Carlos", "Pedro","Maria"]
    , "mates":[6,7,3,5,6,np.nan]
    , "lengua":[7,8,2,3,5,9]
}

Almacenamos el Diccionario de datos en un DATAFRAME

In [3]:
df = pd.DataFrame (datos_alumno)
df

   nombre  mates  lengua
0  Julian    6.0       7
1  Marcos    7.0       8
2   Diana    3.0       2
3  Carlos    5.0       3
4   Pedro    6.0       5
5   Maria    NaN       9

Shape nos permite visualizar el número de filas totales y el número de columnas de nuestro DATAFRAME

In [4]:
df.shape

(6, 3)

Podemos recuperar solo filas o solo columnas

In [5]:
numFilas= df.shape[0]
numColumnas= df.shape[1]
print(f"Número de filas: {numFilas}. Número de columnas: {numColumnas}")

Número de filas: 6. Número de columnas: 3

Podemos averiguar los índices

In [6]:
df.index

RangeIndex(start=0, stop=6, step=1)

Podemos visualizar las columnas de forma independiente

In [7]:
df.columns

Index(['nombre', 'mates', 'lengua'], dtype='object')

Con info podemos averiguar características de la estructura de nuestro DATAFRAME: tipo de dato de cada columna, cantidad de registros en cada una

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  6 non-null      object
 1   mates   5 non-null      float64
 2   lengua  6 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 276.0+ bytes

Algunas funciones para saber contenido

In [10]:
df.count()

nombre    6
mates     5
lengua    6
dtype: int64

Media de un campo

In [12]:
df['mates'].mean()

np.float64(5.4)

Máximos y Mínimos

In [15]:
min_mates=df['mates'].min()
max_mates=df['mates'].max()
print(f"La máxima nota de mates es; {max_mates} y la mínima:{min_mates}")

La máxima nota de mates es; 7.0 y la mínima:3.0

Temenos un método que nos permite averiguar datos porcentuales sobre los registros

In [16]:
df.describe()

          mates    lengua
count  5.000000  6.000000
mean   5.400000  5.666667
std    1.516575  2.804758
min    3.000000  2.000000
25%    5.000000  3.500000
50%    6.000000  6.000000
75%    6.000000  7.750000
max    7.000000  9.000000