In [ ]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/marvel_movies.csv")
df

NameError: name 'pd' is not defined

In [3]:
df.describe()

              year    duracion  presupuesto  recaudacion  valoracion
count    14.000000   14.000000    14.000000    14.000000   14.000000
mean   2017.142857  135.642857   208.214286  1164.285714    7.278571
std       3.759238   18.341240    64.672166   687.317240    0.964906
min    2008.000000  115.000000   130.000000   402.000000    5.300000
25%    2016.250000  121.500000   166.250000   697.750000    6.850000
50%    2018.000000  132.000000   200.000000   858.500000    7.500000
75%    2019.000000  146.750000   232.000000  1475.250000    7.975000
max    2022.000000  181.000000   356.000000  2798.000000    8.400000

In [4]:
df["year"].value_counts()

year
2018    3
2019    2
2021    2
2017    2
2008    1
2012    1
2014    1
2016    1
2022    1
Name: count, dtype: int64

In [2]:
df.sort_values('valoracion')

NameError: name 'df' is not defined