In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("data/titanic.csv")
df

Limpieza de datos:

In [ ]:
df.info()

Averiguar el numero de filas y columnas

In [ ]:
df.count()

LLenar los nullos. Limpiar los datos Age y Cabin.
Los NaN de Age=0 y Cabin: CNada y Embarque; J

In [ ]:
df_filtrado = df.fillna({"Age":0, "Cabin":'CNada', "Embarked":'Nada'})

df_filtrado

Agrupar por genero

In [ ]:
df_generos=df_filtrado.groupby("Sex")
df_generos.describe()

Extraemos los datos con info en variables.
Primero, mostrar el numero de pasajeros totales

In [ ]:
pasajeros=df.shape[0]
print (f"Númerp de pasajeros: {pasajeros}")

Mostrar numero de supervivientes

In [ ]:
supervivientes=df[df.Survived==1]
num_survived=supervivientes.shape[0]
#len(supervivientes)
fallecidos = df.query("Survived == 0")
num_fallecidos=fallecidos.shape[0]
print(f"Número Total de Pasajeros: {pasajeros}")
print(f"Número de Supervivientes: {num_survived}")
print(f"Número de Fallecidos: {num_fallecidos}")

Almacenamos los datos en un diccionario

In [30]:
data = {
    'Datos':['Pasajeros Totales', 'Supervivientes', 'Fallecidos']
    , 'Valores':[pasajeros, num_survived, num_fallecidos]
    }
df_estadistico=pd.DataFrame.from_dict(data)
df_estadistico

               Datos  Valores
0  Pasajeros Totales      891
1     Supervivientes      342
2         Fallecidos      549

Creamos un gráfico PieChart de df_estadistico. Para mostrar los datos agrupamos ppr la columna Datos

In [ ]:
df_grafico=df_estadistico.groupby('Datos').sum()
df_grafico.plot(kind="pie", y='Valores')